<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.csipsimple.plugins.codecs.pack1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="9" />
    <uses-permission android:name="android.permission.CONFIGURE_SIP" />

    <application
        android:icon="@drawable/ic_launcher_phone"
        android:label="@string/app_name" >
        
		<!-- Codec handler -->
		
		<!-- SILK -->
		<receiver android:name="com.csipsimple.plugins.codecs.pack1.ReceiverSilk">
			<meta-data android:name="lib_name" android:value="libpj_silk_codec.so"/>
			<meta-data android:name="init_factory" android:value="pjmedia_codec_silk_init"/>
			<intent-filter>
				<action android:name="com.csipsimple.codecs.action.REGISTER_CODEC" />
			</intent-filter>
		</receiver>
		
		<!-- G7221 -->    
		<receiver android:name="com.csipsimple.plugins.codecs.pack1.ReceiverG7221">
			<meta-data android:name="lib_name" android:value="libpj_g7221_codec.so"/>
			<meta-data android:name="init_factory" android:value="pjmedia_codec_g7221_init"/>
			<intent-filter>
				<action android:name="com.csipsimple.codecs.action.REGISTER_CODEC" />
			</intent-filter>
		</receiver>
		
		<!-- G726 -->    
		<receiver android:name="com.csipsimple.plugins.codecs.pack1.ReceiverG7221">
			<meta-data android:name="lib_name" android:value="libpj_g726_codec.so"/>
			<meta-data android:name="init_factory" android:value="pjmedia_codec_g726_init"/>
			<intent-filter>
				<action android:name="com.csipsimple.codecs.action.REGISTER_CODEC" />
			</intent-filter>
		</receiver>
		
		    
		<!-- Codec2 -->    
		<receiver android:name="com.csipsimple.plugins.codecs.pack1.ReceiverCodec2">
			<meta-data android:name="lib_name" android:value="libpj_codec2_codec.so"/>
			<meta-data android:name="init_factory" android:value="pjmedia_codec_codec2_init"/>
			<intent-filter>
				<action android:name="com.csipsimple.codecs.action.REGISTER_CODEC" />
			</intent-filter>
		</receiver>
    </application>
    <permission android:name="android.permission.CONFIGURE_SIP"
        android:label="@string/permlab_configureSip"
        android:description="@string/permdesc_configureSip"
        android:permissionGroup="android.permission-group.COST_MONEY"
        android:protectionLevel="dangerous" />
</manifest>